@media print {
  .page-break {
    page-break-before: always;
  }
  .no-break {
    page-break-inside: avoid;
  }
}

.page-break {
  page-break-before: always;
}

.no-break {
  page-break-inside: avoid;
}
